<table id = "chess_board"> 
<tr> 
	<td class = "white" id = "A1"></td> 
	<td class = "black" id = "B1"></td> 
	<td class = "white" id = "C1"></td> 
	<td class = "black" id = "D1"></td> 
	<td class = "white" id = "E1"></td> 
	<td class = "black" id = "F1"></td> 
	<td class = "white" id = "G1"></td> 
	<td class = "black" id = "H1"></td> 
</tr>  

<tr> 
	<td class = "black" id = "A2"></td> 
	<td class = "white" id = "B2"></td> 
	<td class = "black" id = "C2"></td> 
	<td class = "white" id = "D2"></td> 
	<td class = "black" id = "E2"></td> 
	<td class = "white" id = "F2"></td> 
	<td class = "black" id = "G2"></td> 
	<td class = "white" id = "H2"></td> 
</tr> 

<tr> 
	<td class = "white" id = "A1"></td> 
	<td class = "black" id = "B1"></td> 
	<td class = "white" id = "C1"></td> 
	<td class = "black" id = "D1"></td> 
	<td class = "white" id = "E1"></td> 
	<td class = "black" id = "F1"></td> 
	<td class = "white" id = "G1"></td> 
	<td class = "black" id = "H1"></td> 
</tr> 

<tr> 
	<td class = "black" id = "A2"></td> 
	<td class = "white" id = "B2"></td> 
	<td class = "black" id = "C2"></td> 
	<td class = "white" id = "D2"></td> 
	<td class = "black" id = "E2"></td> 
	<td class = "white" id = "F2"></td> 
	<td class = "black" id = "G2"></td> 
	<td class = "white" id = "H2"></td>
</tr> 

<tr> 
	<td class = "white" id = "A1"></td> 
	<td class = "black" id = "B1"></td> 
	<td class = "white" id = "C1"></td> 
	<td class = "black" id = "D1"></td> 
	<td class = "white" id = "E1"></td> 
	<td class = "black" id = "F1"></td> 
	<td class = "white" id = "G1"></td> 
	<td class = "black" id = "H1"></td> 
</tr> 

<tr> 
	<td class = "black" id = "A2"></td> 
	<td class = "white" id = "B2"></td> 
	<td class = "black" id = "C2"></td> 
	<td class = "white" id = "D2"></td> 
	<td class = "black" id = "E2"></td> 
	<td class = "white" id = "F2"></td> 
	<td class = "black" id = "G2"></td> 
	<td class = "white" id = "H2"></td>
</tr> 

<tr> 
	<td class = "white" id = "A1"></td> 
	<td class = "black" id = "B1"></td> 
	<td class = "white" id = "C1"></td> 
	<td class = "black" id = "D1"></td> 
	<td class = "white" id = "E1"></td> 
	<td class = "black" id = "F1"></td> 
	<td class = "white" id = "G1"></td> 
	<td class = "black" id = "H1"></td> 
</tr> 

<tr> 
	<td class = "black" id = "A2"></td> 
	<td class = "white" id = "B2"></td> 
	<td class = "black" id = "C2"></td> 
	<td class = "white" id = "D2"></td> 
	<td class = "black" id = "E2"></td> 
	<td class = "white" id = "F2"></td> 
	<td class = "black" id = "G2"></td> 
	<td class = "white" id = "H2"></td>
</tr> 

</table>