<h1>Game Show page</h1>

<p>Game &quot; name: <%= @game.name %></p> 

<% array = ["A","B","C","D","E","F","G","H"] %>

<div id="test"></div>

<%= javascript_tag do %>
  var game_id = <%= @game.id %>;
  var pieces = getPieces(game_id);
<% end %>

<table id = "ChessBoard"> 

</table> 




